<p>courses-detail works Courses Details!</p>

<div class="">
  <div *ngFor="let section of sections" >
    <div class="course-section">
      <div class="left-content section-header">
        <input
          type="checkbox"
          class="content-item-spaced input-checkbox"
          [checked]="section.completion_score === 100"
        />
        <div class="section-details section-title">
          <h3>{{section.order}}. {{ section.name }}</h3>
        </div>
        <a   mat-button >Recording</a>
        <a mat-button >Files </a>
        <button mat-button
          class="toggle-button content-item-spaced "
          (click)="toggleDropdown(section)"
        >
          ^
        </button>
        <div></div>
      </div>
    </div>

    <div
      *ngIf="sectionToggle[section.id]"
      class="course-section"
    >
      <div class="left-content">
        <div class="section-details assigment-width">
          <p>Assignment: {{ section.name }} Assignment</p>
          <p>{{ section.description }}</p>
        </div>
        <div >
          <!-- <p>2023-11-26</p> -->
          <p>
            <button
            mat-button
              class="mat-button assigment-button"
              (click)="openAssigmentPopup()"
            >
              Submit Assignment
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
