<div class="form-container">
  <form class="row" [formGroup]="userForm">
    <h3 class="form-title">Sign Up and start learning</h3>
    <br />
    <div class="col-4">
      <mat-form-field>
        <mat-label>First</mat-label>
        <input formControlName="first" matInput />
      </mat-form-field>
    </div>
    <div class="col-4"></div>
    <div class="col-4">
      <mat-form-field>
        <mat-label>Last</mat-label>
        <input formControlName="last" matInput />
      </mat-form-field>
    </div>

    <div class="col-12">
      <mat-form-field class="w-100">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput />
      </mat-form-field>
    </div>

    <div class="col-12">
      <mat-form-field class="w-100">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput type="password" />
      </mat-form-field>
    </div>

    <button primary (click)="onSubmit()" mat-raised-button color="primary">
      Register
    </button>
    <p>
      We won't send special offers as all courses are free. But we will send you
      reminders to finish your assigmnets
    </p>

    <p class="agreement">
      By signing up, you agree to our <a href="/terms-of-use">Terms of Use</a> and
      <a href="/privacy">Privacy Policy</a>.
    </p>
    <hr />
    <p class="agreement">Already have an account? <a href="/login">Login</a></p>
    <br />
    <br />
  </form>
</div>
