<div mat-dialog-content>
  <div class="container">
    <div class="spread">
      <div class="left-row">Assgiment Prompt</div>
      <div class="right-row" *ngIf="section?.template_file_url">
        <a mat-button target="_blank" href="{{section.template_file_url}}" class="undecorated" >Download Template File</a>
      </div>
    </div>

    <div>{{section.assigment_prompt}}</div>
    <div class="spread">
      <div class="left-row">
        <input type="text" matInput placeholder="Public link for download" />
      </div>
      <div>Or</div>
      <div class="right-row">
        <!-- File Selector Input Box -->
        <input type="file" name=""/>
      </div>
    </div>

    <br>
    <!-- Large text container -->
    <textarea
      matInput
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="3"
      cdkAutosizeMaxRows="50"
      style="width: 100%;"
    ></textarea>

    <br>
    <div class="spread">
        <div class="left-row">
            <button mat-button>Open Class Content</button>
        </div>
        <div class="right-row">
            <button mat-button>Submit</button>
        </div>
    </div>
  </div>
</div>
