.container {
  width: 60em;
  max-width: 100%;
}

.spread {
  display: flex;
  justify-content: space-between; /* Aligns items at each end (left and right) */
  align-items: center; /* Vertically centers items within the container */
}

.undecorated {
  text-decoration: none;
}
