.form-container {
    padding-right: 5%;
    padding-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.row {
    width: 100%;
    margin: 0 auto;
}

.text-center {
    text-align: center;
    /* width: 90%; */
    margin-bottom: 20px;
}

mat-form-field{
    width: 100%;
    margin-bottom: 20px;
}

button {
    width: 100%; /* Make the button occupy all available width */
}