<mat-drawer-container>
  <mat-drawer
    [opened]="showSidebar"
    #drawer
    class="adaptive-sidenav"
    mode="side"
    position="start"
  >
    <mat-nav-list>
      <mat-list-item
        routerLink="/admin/courses/table"
        routerLinkActive
        #coursesAdminTableLink="routerLinkActive"
        [activated]="coursesAdminTableLink.isActive"
      >
        <a>Courses Admin Table</a>
      </mat-list-item>

      <mat-list-item
        routerLink="/admin/users/table"
        routerLinkActive
        #usersAdminTableLink="routerLinkActive"
        [activated]="usersAdminTableLink.isActive"
      >
        <a>Users Admin Table</a>
      </mat-list-item>

      <mat-list-item
        routerLink="/students"
        routerLinkActive
        #studentsLink="routerLinkActive"
        [activated]="studentsLink.isActive"
      >
        <a>Student Rankings</a>
      </mat-list-item>

      <mat-list-item
        routerLink="/courses"
        routerLinkActive
        #coursesLink="routerLinkActive"
        [activated]="coursesLink.isActive"
      >
        <a>Courses</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <!-- CONTENIDO -->
  <div class="sidenav-content full-height">
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="toggleDrawer()">
        <mat-icon>menu</mat-icon>
      </button>

      <span>Open Academia</span>
      <div class="spacer"></div>

      <button
        routerLink="/"
        routerLinkActive
        mat-button
        #homeLink="routerLinkActive"
      >
        <a>Home</a>
      </button>

      <div *ngIf="!(email$ | async)">
        <button mat-button routerLink="/login">Login</button>
        <button mat-button routerLink="/signup">Register</button>
        <button mat-button (click)="loginAsAdmin()">Login as Admin</button>
        <button mat-button (click)="loginAsStudent()">Login as student</button>
      </div>

      <div *ngIf="email$ | async">
        <!-- Admin -->
        <button
          routerLink="/admin"
          routerLinkActive
          mat-button
          [class.active]="adminLink.isActive"
          #adminLink="routerLinkActive"
        >
          <a>Admin</a>
        </button>

        <!-- Profile -->
        <button
          routerLink="/profile"
          routerLinkActive
          mat-button
          #profileLink="routerLinkActive"
        >
          <a>Profile</a>
        </button>
      </div>
      <button mat-button (click)="logout()">Logout</button>
    </mat-toolbar>
    <main>
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</mat-drawer-container>
