.navbrand{
    font-size: 1em;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}


.adaptive-sidenav{
    min-width: 8em;
    width: 15%;
}

.full-height {
  min-height: 90vh;
}

.spacer {
  flex: 1 1 auto;
}

.container {
  padding-top: 3em;
  padding-right: 5%;
  padding-left: 5%;
}
