<div class="cards-container">
  <mat-card *ngFor="let course of dataSource" class="course-card">
    <img
      mat-card-image
      *ngIf="course.image"
      [src]="course.image"
      alt="{{ course.name }}"
    />
    <mat-card-content>
      <h2>{{ course.name }}</h2>
    </mat-card-content>
    <mat-card-actions>
      
      <button
        *ngIf="!isEnrolled(course.id)"
        mat-button
        color="warn"
        (click)="enrollCourse.emit(course.id)"
      >
        Enroll
      </button>
      <button
        (click)="openEnrollDialog(course)"
        mat-button
        color="primary"
      >
        Details
      </button>
    
      <!-- <a routerLink=`/courses/`>Curriculum</a> -->
      <a routerLink="/courses/{{course.id}}" mat-button color="primary">Curriculum</a>
    
      <button
        *ngIf="isEnrolled(course.id)"
        mat-button
        color="warn"
        (click)="unenrollCourse.emit(course.id)"
      >
      Unenroll
    </button></mat-card-actions>
  </mat-card>
</div>
