.course-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.course {
  flex: 0 0 20%;
  box-sizing: border-box;
  padding: 10px;
}

.mini-render {
  max-width: 10em; /* Adjust as needed */
  max-height: 10em; /* Adjust as needed */
}

.details-card {
  background-color: white;
  /* Clean border */
  border: none;
  border-radius: 10px;
  max-width: 100%;
  margin: auto;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding-bottom: 1em;
}

.table-section {
  margin-top: 2em;
  margin-bottom: 2em;
}
