<h1 mat-dialog-title>Create Inscription</h1>

<div mat-dialog-content>
  <ng-container *ngIf="isLoading$ | async; else formulario">
    Loading...
  </ng-container>
  <ng-template #formulario>
    <form class="row">
      <div class="col-12">
        <mat-form-field class="w-100">
          <mat-label>Courses</mat-label>
          <mat-select [formControl]="courseIdControl">
            <mat-option
              [value]="course.id"
              *ngFor="let course of courseOptions$ | async"
              >{{ course.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field class="w-100">
          <mat-label>Alumno</mat-label>
          <mat-select [formControl]="userIdControl">
            <mat-option
              [value]="student.id"
              *ngFor="let student of studentOptions$ | async"
              >{{ student.first }} {{ student.last }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </ng-template>
</div>

<div mat-dialog-actions>
  <button mat-dialog-close mat-button color="warn" type="button">Cancel</button>
  <div class="spacer"></div>
  <button (click)="onSubmit()" mat-button type="button">Create</button>
</div>
